.body {
  background-color: rgba(37, 218, 37, 0.02);
}

.rootTwo {
  padding-bottom: 30px;
  margin-top: 30px;
}
.paperLogin {
  width: 600px;
  height: 500px;
}

.grid-root {
  height: 100px;
  justify-content: "center";
  text-align: "center";
}
.grid-three {
  height: 10px;
}
.grid-two {
  height: 100px;
}

.centrar {
  text-align: center;
  justify-content: center;
}
.margin {
  margin-top: 10px !important;
}
.contenedorBtnQuestion {
  margin-top: 20px;
}
.containerIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.containerIcon::before {
  content: url("../../Images/image\ 1.png");
}
