.body {
  background-color: rgba(37, 218, 37, 0.02);
}

.paperLogin {
  width: 600px;
  height: 550px;
  margin-top: 15px;
}
.grid-root {
  height: 100px;
  justify-content: "center";
  text-align: "center";
}

.centrar {
  text-align: center;
  justify-content: center;
}
.margin {
  margin-top: 10px !important;
}

.contenedorBtn {
  margin-top: 15px;
}
.container-links {
  margin-top: 40px;
}

.classIconSmall {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  background-color: #f50057 ;

}