.rootNavBar {
  background: #009688 !important;
  align-items: "center" !important;
  justify-content: "center";
}
.logo {
  justify-content: center;
}
.logo::before {
  content: url('../../Images/LogoSoloBlancoFondoTransparente\ 1.png');
}

