.inputSearch {
  width: 500px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: url("../../Images/Vector.png");
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position-y: center;
  background-position-x: 10px;
}

.search {
  margin-top: 30px;
}
